<section>

<div class="welcome">
    <h1>VVINE</h1>
    <h2>Este website apresenta informação sobre vários vinhos </h2>
    <div href="#" routerLink="/list" class="btn">
        <span><a style="text-decoration: none;" href="#">GO</a></span>
    </div>
</div>
<div class="background"></div>
</section>

<section class="nomobile">
    <div class="montevelho">
      <img style="cursor: pointer;" routerLink="/details/montevelho" src="../../assets/imgs/montevelho.png" alt="">
    </div>
    <div class="info">
        <h1>Fun fact</h1>
        <h2>Holding the wine glass</h2>
        <p>Hold red wine by the bowl of the glass and white wine by the stem. The warmth of your hand would raise the temperature of the white wine and alter the taste. This is not the case with red wines, which are typically stored at a higher temperature than white wine.</p>
    </div>

</section>